.cartMain {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 20;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: medium;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

.functions {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.productCross {
  color: red;
  border: 1px solid red;
  background-color: transparent;
  border-radius: 5px;
}

.items {
  height: 10%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2rem;
}

.productsContainer {
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
}

.products {
  display: flex;
  gap: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 0.4rem;
  padding: 0.3rem;
  position: relative;
}

.productImageContainer {
  width: 100px;
  height: 100px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.name {
  margin: 0;
}

.desc {
  margin: 0;
  font-weight: 500;
}

.price {
  margin: 0;
  font-weight: 500;
}

.quantity {
  margin: 0;
  font-weight: 500;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem;
}

.bottom {
  height: 20%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.totalPrice {
  width: 100%;
  border-bottom: 1px solid #0093e9;
  color: #0093e9;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 0.4rem;
}

.checkout {
  width: 100%;
  border: 1px solid #0093e9;
  background-color: #0093e9;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 0.6rem;
  cursor: pointer;
}

.quantity {
  margin: 0.2rem 0;
}

.quantity button,
.quantity span {
  font-size: 0.92rem;
  border: 1px solid lightgray;
  padding: 0.2rem 0.6rem;
}

.quantity button {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.emptyCross {
  position: absolute;
  font-size: 1.2rem;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

.empty {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.continueShopping {
  background-color: #0093e9;
  color: white;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 590px) {
  .cartMain {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0.2rem;
  }
}
