.productsContainer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}

.titleContainer {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.title {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
}