.heroMain {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(60deg, rgba(0, 147, 233, 1) 0%, rgba(128, 208, 199, 1) 100%);
}

.heroInner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-top: 2rem;
}

.text>p {
    margin: 0;
    color: white;
    padding: 0.4rem 0;
}

.heading {
    font-size: 2.1rem;
    font-weight: bold;
}

.subHeading {
    font-size: 1.2rem;
    font-weight: medium;
}

.buyHeading {
    font-size: 1.6rem;
}

.buyButton {
    background-color: white;
    color: rgba(0, 147, 233, 1);
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    font-weight: bold;
    margin-top: 1rem;
}

.linkWrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.heroImage {
    width: 300px;
    height: 300px;
    position: relative;
}

.heroImageInner {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 590px) {
    .heroImage {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .heroInner {
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .text {
        margin: 0;
        width: 100%;
    }

    .linkWrapper {
        max-width: 250px;
    }
}

@media (min-width: 1050px) {
    .heading {
        font-size: 2.7rem;
    }

    .subHeading {
        font-size: 1.5rem;
    }

    .buyHeading {
        font-size: 1.8rem;
    }

    .description {
        font-size: 1.2rem
    }

    .heroImage {
        width: 550px;
        height: 400px;
    }

    .buyButton {
        border-radius: 0.3rem;
    }
}